@media screen and (max-device-width: 919px){
    .site-header {
        padding: 16px 24px;
        display:flex;
        flex-wrap: wrap;
        justify-content:flex-start;
        align-items:center;
        border-style: solid;
        border-width: 3px;
    }
    .flex-container {
        padding: 16px 24px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        border-style: solid;
        border-width: 3px;
      }
      .site-nav {
        display: flex;
        justify-content:flex-start; 
      }
      h1{
        width:100%;
    }
}
@media screen and (min-device-width: 920px){
.site-header {
    padding: 16px 24px;
    align-items:left;
    border-style: solid;
    border-width: 1px;
}
 
.site-nav {
    display:flex;
    justify-content:flex-end;
    align-items:start;
    width: 100%;
  }

  .flex-container {
    padding: 16px 24px;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    justify-content:space-around;
 }

  h1{
      width:500px;
	  color:black;
	  text-decoration:none;
  }
}

  a {
    padding: 8px 16px;
    color: black;
	text-decoration:none;
  
  
  }

  img {
    width: 240px;
    height: 160px;
    border: 2px solid black;
  }

  .fill {
    object-fit: fill;
  }

  h3{
      width: 240px;
      text-align: center;
      border: 2px solid ;
  }